<!DOCTYPE html>
<html>
    <%- include("./partials/head" , {title:"Carrito de compras"}) %>

    <body>
        <%- include("./partials/header") %>

        <main>
            <div class="small-container cart-page">
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="images/Auris.jpg" alt="Auris">
                                <div>
                                    <p>Auris piola</p>
                                    <small>Precio: $10.000.-</small>
                                    <br>
                                    <a href="">Borrar</a>
                                </div>
                            </div>
                        </td>
                        <td><input type="number" value="1"></td>
                        <td>$10.000.-</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="images/Silla.jpg" alt="Silla">
                                <div>
                                    <p>Silla Gamer Negra Y Roja Premium 4D</p>
                                    <small>Precio: $36.000.-</small>
                                    <br>
                                    <a href="">Borrar</a>
                                </div>
                            </div>
                        </td>
                        <td><input type="number" value="1"></td>
                        <td>$36.000.-</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="images/Play.jpg" alt="Play">
                                <div>
                                    <p>Consola PS5 Playstation Edición Física + Joystick Ps5 Sony Dual Sense</p>
                                    <small>Precio: $207.000.-</small>
                                    <br>
                                    <a href="">Borrar</a>
                                </div>
                            </div>
                        </td>
                        <td><input type="number" value="1"></td>
                        <td>$207.000.-</td>
                    </tr>
                </table>
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>253.000.-</td>
                        </tr>
                        <tr>
                            <td>IVA 21%</td>
                            <td>53.130.-</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>306.130.-</td>
                        </tr>
                    </table>
                </div>
        </main>
        <%- include("./partials/footer") %>
  
    </body>
</html>