<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head" , {title:"Editar Usuario"}) %>

<body>

    <header class="header-login">
        <div>
            <a href="/"> <img src="/images/JAMM-Gaming.png" class="logo-login"></a>
           
        </div>
          
    </header>
<br>
    <div class="contenedor-login">
    <form action="/users/userProfile/?_method=PUT" method="POST" class="create-form" enctype="multipart/form-data">
        <div class="control-formulario">
            <label>Editar usuario</label>
        </div>
        <div class="control-formulario">
            <label>Nombre usuario:</label>
            <input type="text" name="fullName" class="control" value="<%= userLogged.fullName %>">
          
        </div> 
        <div class="control-formulario">
            <label>Mail:</label>
            <input type="text" name="email" class="control" value="<%= userLogged.email %>">
        </div> 
        <div class="control-formulario">
            <input type="file" name="image" accept=".jpg, .png" multiple>  <!-- cómo agregar imagen -->
        </div>
        <div class="control-formulario">
          
        </div>   
               
        <div class="control-formulario">  

        <button type="submit" class="boton-formulario">Confirmar edición</button>
        
        </div>

            <div class="control-formulario">  

            <button type="reset" class="boton-formulario">Cancelar</button>
            
            </div>
    </form>

    <form method="POST" action="/delete/<%= userLogged.id %>?_method=DELETE">
        <div class="control-formulario">  
            <button type="submit" class="boton-formulario-borrar">Eliminar usuario</button>
            </div>
        </form>
    </div>

    </section>
</body>
</html>