<footer>
    <div class="primero">
       <a href="https://www.google.com.ar/maps" class="sinEstilo"> <i class="fas fa-map-marker-alt"></i>
        <h5>Locales</h5>
        <p>Av Cabildo 1460</p> </a>
    </div>
    <div class="segundo">
        <i class="fas fa-credit-card"></i>
        <h5>Formas de pago</h5>
        <p>Tarjeta - Efectivo - Transferencia</p>
    </div>
    <div class="tercero">
        <i class="fas fa-id-badge"></i>
        <h5>¿Quiénes somos?</h5>            
    </div>
    <div class="cuarto">
        <i class="fas fa-question-circle"></i>
        <h5>Ayuda</h5>
    </div>
    <div class="quinto">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        <h5>Nuestras redes</h5>          
    </div>
</footer>